[submodule "project-a"]
	path = project-a
	url = https://github.com/vineetkaushikmca/AEM-WKND
	branch = main
[submodule "project-c"]
	path = project-c
	url = https://github.com/vineetkaushikmca/aem-guides-wknd
	branch = main
