[submodule "project-a"]
	path = project-a
	url = https://github.com/vineetkaushikmca/AEM-WKND
	branch = main
[submodule "project-d"]
	path = project-d
	url = https://github.com/vineetkaushikmca/site2
	branch = main
